#clic {
    width: 12%;
    height: 12%; 
    margin-left: 45%;
    margin-top: 6%;
    overflow: hidden;
    cursor: pointer;
    animation: pop 0.3s linear 1;
}


/******************************* Avec ce css l'image est responsive mais pas le texte ni le bouton ************************************/
html { 
    margin:0;
    padding:0;
    background: url(images/man-beer-bar-sit-high-stool-wooden-desk/2545.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; 
    background-size: cover; 
}

/******************************************** Css actuel mais surement pas responsive ******************************************/
/*body {
    background-image: url(images/man-beer-bar-sit-high-stool-wooden-desk/2545.jpg);
    background-size: 107%;
    background-repeat: no-repeat;
}*/

#affichage {
    color: white;
    font-family: fantasy;
    font-size: xx-large;
}

#prix{
    color: white;
    font-family: fantasy;
    margin-top: 18%;
    font-size: x-large;
}

#multiplier {
    font-family: fantasy;
    font-size: 250%;
    display: flex;
    margin-top: auto;
    cursor: pointer;
    border-radius: 5%;
}  
/* changement de couleur en attendant la fonction js qui s'en charge */
#multiplier:hover {
    background-color: rgb(204, 224, 16);
}

/*Bouton autoclik test*/
#autoclick {
    width: 12%;
    height: 12%; 
    float: right;
}